<div>
  <div
    class="modal fade"
    id="editPersonModel"
    tabindex="-1"
    aria-labelledby="editPersonModelLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog modal-dark modal-dialog-centered">
      <div class="modal-content bg-zinc-700 text-zinc-50">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="editPersonModelLabel">Editar!</h1>
          <button
            type="button"
            class="btn-close text-red-500"
            data-bs-dismiss="modal"
            aria-label="Close"
          >
            x
          </button>
        </div>

        <div class="modal-body">
          <div class="container">
            <form [formGroup]="editPersonForm" (ngSubmit)="saveEditedPerson()">
              <div class="mb-4">
                <label for="editName" class="font-bold mb-2">Name</label>
                <input
                  type="text"
                  id="editName"
                  name="editName"
                  formControlName="editName"
                  class="form-control border-2"
                  placeholder="Informe o nome da pessoa"
                  required
                  [ngClass]="{
                    '!border-red-600 !text-red-500':
                      !editPersonForm.value.editName.length,
                      '!border-green-600 !text-green-500':
                      editPersonForm.value.editName.length,
                  }"
                />
              </div>

              <div class="mb-4">
                <label for="cpf" class="font-bold mb-2">CPF</label>
                <input
                  type="text"
                  id="cpf"
                  name="editCpf"
                  formControlName="editCpf"
                  class="form-control border-2"
                  placeholder="informe o CPF"
                  [inputMask]="cpfInputMask"
                  required
                  [ngClass]="{
                    '!border-red-600 !text-red-500':
                      editPersonForm.value.editCpf.replaceAll('_', '').length <
                      11,
                    '!text-green-500':
                      editPersonForm.value.editCpf.replaceAll('_', '')
                        .length === 11
                  }"
                />
              </div>

              <div class="mb-4" class="font-bold mb-2">
                <label for="name">Data de nascimento</label>
                <input
                  type="date"
                  id="birth"
                  name="editBirth"
                  formControlName="editBirth"
                  class="form-control"
                  required
                />
              </div>

              <div class="mt-6" formArrayName="phones">
                <div class="flex justify-end">
                  <span class="font-bold mb-3 flex">Telefones</span>

                  <button
                    type="button"
                    (click)="addPhone()"
                    class="bg-purple-500 text-white rounded-md px-4 py-2 hover:opacity-80 transition-opacity ml-auto inline-block"
                  >
                    Adicionar
                  </button>
                </div>

                <div
                  *ngFor="let phone of phones().controls; let i = index"
                  [formGroupName]="i"
                >
                  <label class="w-full">
                    <span class="font-bold mb-4">Telefone {{ i + 1 }}</span>
                    <div class="input-group mb-4">
                      <input
                        type="text"
                        formControlName="number"
                        class="flex-1 form-control"
                        placeholder="(11) 98877-6655"
                        [inputMask]="phoneMask"
                        [ngClass]="{
                          '!border-red-600 !text-red-500':
                            editPersonForm.value.phones[i].number.toString().length < 11,
                            '!border-green-600 !text-green-500':
                            editPersonForm.value.phones[i].number.toString().length === 11,
                        }"
                      />

                      <button
                        (click)="removePhone(i)"
                        class="btn bg-red-400 hover:bg-red-200 transition-colors"
                      >
                        x
                      </button>
                    </div>
                  </label>
                </div>
              </div>
            </form>
          </div>
        </div>

        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-secondary"
            data-bs-dismiss="modal"
          >
            Close
          </button>

          <button
            type="button"
            class="btn btn-success"
            (click)="saveEditedPerson()"
          >
            Salvar
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
